
html{
    font-size:62.5%;
    box-sizing:border-box;
    background-color:rgb(35, 35, 35);
    overflow-x: hidden;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding:0;
}
.titulo{
    color: rgb(127, 127, 127);
    width: 100%;
    text-align: center;
}
.contenedor{
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
}
.video{
    height: 600px;
    width: 600px;
}
.container-botones{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.container-video{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}